@charset "UTF-8";

:root {
    --cor00: #762EEB;
    --cor01: #943DF2;
    --cor02: #9B42DB;
    --cor03: #B93DF2;
    --cor04: #C23AE8;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body, .wrapper{
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0px 24px;
    background-image: linear-gradient(to top, var(--cor00), var(--cor01), var(--cor02), var(--cor03), var(--cor04));
    background-repeat: no-repeat;
    background-size: cover;
}

.login-card {
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0px 20px;
    background-color: rgba(255, 255, 255, 0.493);
    margin: auto;
    padding: 70px 30px 44px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.616) 10px 4px 20px 4px;
}

.login-form {
    width: 100%;
    display: grid;
    margin: 0px;
    gap: 16px;
    justify-items: center;
}


.login-form > input, .login-form > button  {
    margin: 0px;
    width: 80%;
    height: 40px;
    border-radius: 30px;
}
.login-form > input {
    padding: 10px;
    border: 2px solid #ebebeb;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: all 0.375s;
}

.login-form > input:hover {
    border: 2px solid var(--cor04);
}

.login-form > button {
    color: white;
    background-color: var(--cor00);
    border: 0;
}

.login-form > button:hover {
    background-color: var(--cor02);
}

div h2 {
    font-size: 60px;
    text-align: center;
    margin: 0px;
    padding: 10px;
}

div h3 {
    text-align: center;
    margin: 0px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.452);
}

@media (width >= 500px) {
    body{
        padding: 0;
    }

    .login-card {
        margin: 0;
        width: 400px;
        }
}
